<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración - Personalización</title>
    <!-- Subimos un nivel con ../ para encontrar css -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>Configuración y Personalización</h1>
        <button onclick="location.href='../index.html'">Volver al Menú</button>
    </header>

    <main>
        <section id="personalization-section">
            <h2>Personalización</h2>
            <p>Selecciona el logo de tu equipo favorito:</p>
            
            <div class="logo-grid">
                <button class="logo-option" data-logo="../assets/logos/arizona_diamondbacks.webp">
                    <img src="../assets/logos/arizona_diamondbacks.webp" alt="Arizona Diamondbacks">
                </button>
            </div>
        </section>
    </main>

    <footer class="bottom-bar">
        <p>&copy; 2026 Baseball Legends Museum</p>
    </footer>
    <script src="../js/app.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>